@if (loading) {
    <app-loading></app-loading>
}@else {
@for(section of sections; track $index){
    @for (level of levels[$index]; track $index) {
        <div class="section">

            @for (single of level; track $index) {

                <app-level-icon [single]="single" [idUser]="idUser"></app-level-icon>
            }
        </div>

        @if (level[0].type == "test") {
            <div class="new-section">

                <div class="line"></div>
                <div class="title">{{section.title}}</div>
                <div class="line"></div>
            </div>
        }
    }
}

}