:host{
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    margin: 2.7% 1.5% 1% 0;
  }
  
  .animation{
    width: 200px;
  }

  @media (max-width: 768px) {
    .animation {
      width: 150px; /* per dispositivi mobili */
      height: 70px;
    }

    canvas{
      margin: 2.7% 6.5% 1%;  
    }
  }