:host{
    display: flex;
    flex-direction: column;

}



.image{
    
    image-rendering: auto;
    background-size: cover;
    
}

.text{
    font-weight: 600;
    font-size: 24px;
    margin: 3% 0 0 25%;
}

.boxes{
        display: grid;
    grid-template-columns: 74%;
    margin: 3% 0% 0 23%;
}

.box{
    margin: 2% 9% 0 0;
    border: 3px #37464F solid;
    padding: 2% 3%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.settings{
    background-image: url("../../assets/image/cripto.png");
        image-rendering: auto;
    background-size: contain;
    width: 45px;
    height: 35px;
    background-repeat: no-repeat;
    margin: 0 5% 0 0;
}

.category{
    font-size: 24px;
    font-weight: 700;
    height: 30px;
}

.status{
    color: #37464F;
    font-weight: 700;
    font-size: 20px;
}

.focus{
    border: 3px #FCD535 solid;
}

@media (max-width: 430px) {
    .text{
        margin: 8% 0 0 0%;

    }

    .boxes{
        margin: 3% 0 0;
        grid-template-columns: 100%;
    }

    .settings{
        width: 30px;
        height: 30px;
        margin: 4% 5% 2% 0;
    }

    .box{
        display: flex;
        flex-direction: row;
        margin: 0% 0 5% 0;
        padding: 0 6% 0;
    }

    .category{
        font-size: 18px;
    font-weight: 700;
    height: 30px;
    margin: 5% 0 0 0
    }


}